.card_img {
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid red;
}

.card_img img {
    border: 1px solid black;
}

.small_img {
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}

.small_img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#modal_img {
    width: 30vw;
    transform: scale(0);
    transition: all linear .3s;
    margin-bottom: 5rem;
}

.modal_active #modal_img {
    transform: scale(1.2);
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    visibility: hidden;
    z-index: 9999999;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}

.modal_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#bt_close {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 70px;
    right: 200px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px #fff;
    cursor: pointer;
    transition: all ease-out .4s;
    font-weight: 700;
}

#bt_close:hover {
    background-color: #fff;
    border: red;
    color: red;
}

.modal_active {
    visibility: visible;
    opacity: 1;
}

@media (max-width:425px) {
    .modal_active #modal_img {
        transform: scale(3);
        width: 40%;
        height: 40%;
    }
    #bt_close {
        right: 15px;
    }
}